:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.registerLoginLink{
  text-decoration: underline;
  color:rgb(113, 112, 112);
  &:hover{
    color: rgba(9, 9, 72, 0.63);
  }
}